<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051753851124-ene5ikhmj9g7ogekptt98eig6eisr6lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051753851124-ene5ikhmj9g7ogekptt98eig6eisr6lo</string>
	<key>API_KEY</key>
	<string>AIzaSyCLnqrv_8KpJhl4e9W5bo-JRHE5SicjZzk</string>
	<key>GCM_SENDER_ID</key>
	<string>1051753851124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supremo.FASHION</string>
	<key>PROJECT_ID</key>
	<string>fashion-a23c8</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-a23c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051753851124:ios:bef7ef39fa0c0e023cd6a1</string>
	<key>DATABASE_URL</key>
	<string>https://fashion-a23c8.firebaseio.com</string>
</dict>
</plist>